#earth {
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  background: url("images/realityimg1.gif");
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
  position: static;
  background-size: 1100px;
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1100px 0px;
  }
}

@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1100px 0px;
  }
}

#earthContainer {
  z-index: 15;
  top: 0;
  bottom: 0;
  width: 180%; /* Increase the width */
  height: 120%; /* Increase the height */
  position: absolute;
  background-size: 1100px;
  overflow: hidden;
  border: 5px solid #000; /* Add a border */
  box-sizing: border-box; /* Ensure the border is included in the element's total size */
}
