#twobody {
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("images/idealization2.jpeg") no-repeat center center;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
  position: static;
  background-size: cover;
}
#space {
  z-index: 10;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("images/ideal12.gif") no-repeat center center;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
  position: static;
  background-size: cover;
}

#container {
  width: 75%;
  height: 75%;
  top: 20px;
    margin-left: auto;
    margin-right: auto;
  position: relative;
}
